*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
    user-select: none;
    cursor: url(../img/cursor.svg), auto;  
}

a, svg{
    
    cursor: url(../img/cursor_pointer.svg), auto;
    
}

.container{
    background-image: url(../img/background-03-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.contenedor{
    height: 100%;
    
    
}

.cabecera{
    background-color: #ffffbf;
    grid-area: cabecera;
    animation-delay: 2,5s;
    
    
}

.contenido{
    height:500px;
    margin: 15px;
    grid-area: cuerpo;
    
}

.pie{
    background-color: black;
    color: #ffffbf;
    grid-area: pie;
    
}

.pie > .titulo{
    color: #ffffbf;
    cursor: url(../img/cursor2_pointer.svg), auto;
}

.pie, p:hover{
    background-color: black;
    color: white;
    text-align: center;
    grid-area: pie;
    cursor: url(../img/cursor2.svg), auto;
    
}

 .redes, #instagram:hover{
    background-color: black;
    color: white;
    text-align: center;
    grid-area: redes;
    cursor: url(../img/cursor2_pointer.svg), auto;
    
}



 .logo1{
    width: 260px;
    align-self: center;
    justify-self: center;
    
    
}

a, .cabecera .logo{
    align-self: center;
    justify-self: center;
    color: skyblue;
    
    
    
    }

.logo :hover{
    align-self: center;
    justify-self: center;
    cursor: url(../img/cursor2_pointer.svg), auto;
    
    
    }

.logo1:hover{
  color: tomato;
}


.cabecera > .b_nav{
    justify-self: end;
    align-self: center;
    grid-area: nav;
}

.b_nav ul{
    display: flex;
    list-style: none;
    
}

li{
    border-left: double 8px black;
}

li:hover{
    border-left: double 8px orange;
    
}

.b_nav li a{
    margin: 10px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    
}

.b_nav li a:hover{
    margin: 10px;
    text-decoration: underline wavy;
    color: black;
    font-size: 18px;
    text-decoration-color: orange;
    
}

.cabecera .icon{
    background-image: url(../img/icono.svg);
    background-repeat: no-repeat;
    background-size: 340px;
    background-position: top;
    grid-area: icon;
}


.titulo{
    align-self: center;
    grid-area: titulo;
    
}

.redes{
    
    grid-area: redes;
    
   
    
}

#instagram{
    width: 30px;
    color: #ffffbf;
    margin-left: 10px;
}

.redes #instagram:hover{
    width: 32px;
    color: orange;
    cursor: url(../img/cursor2_pointer.svg), auto;
}

#item1{
    background-image: url(../img/interfaz.png);
    background-size: cover;
    border: solid 15px skyblue;
    grid-area: item1;
    overflow: hidden;
    align-items: center;
    
    
}

#item1:hover{
    background-image: url(../img/bottons/3D_models.gif);
    background-size:cover;
    border: solid 15px;
    grid-area: item1;
    border: solid 15px tomato;
    cursor: url(../img/cursor2_pointer.svg), auto;
    transition: 0.3s;
    
}

#item2{
     background-color: tomato;
    background-size: cover;
    border: solid 15px skyblue;
    overflow: hidden;
    align-items: center;
    grid-area: item2;
    
    
}

#item2:hover{
    background-color: tomato);
    background-size:cover;
    border: solid 15px;
    grid-area: item2;
    border: solid 15px tomato;
    cursor: url(../img/cursor2_pointer.svg), auto;
    transition: 0.3s;
    
    
}



#item3{
    background-color: tomato;
    
    border: solid 15px skyblue;
    grid-area: item3;
    
    
}

#item4{
    background-color: tomato;
    
    border: solid 15px skyblue;
    grid-area: item4;
    overflow: hidden;
    
    
}
